In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Expanded_data_with_more_features.csv')
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [3]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()

df.Gender = lb.fit_transform(df.Gender)

In [4]:
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,0,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,0,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,0,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,1,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,1,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,0,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,1,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,0,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,0,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,1,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [5]:
df.LunchType = lb.fit_transform(df.LunchType)

In [6]:
df.dropna(subset=['IsFirstChild'], inplace=True)
df.IsFirstChild = lb.fit_transform(df.IsFirstChild)

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df.EthnicGroup = le.fit_transform(df.EthnicGroup)

In [8]:
mapping = {
    '< 5': 1,
    '5 - 10': 2,
    '> 10': 3,
    float('nan'): 2
}

df['WklyStudyHours'] = df['WklyStudyHours'].map(mapping)

mappingp = {
    "some high school": 1,
    "high school": 2,
    "some college": 3,
    "associate's degree": 4,
    "bachelor's degree": 5,
    "master's degree": 6,
    "doctoral degree": 7,
    float('nan'): 3
}

df['ParentEduc'] = df['ParentEduc'].map(mappingp)

mapping = {
    "none": 1,
    "completed": 2,
    float('nan'): 1
}

df['TestPrep'] = df['TestPrep'].map(mapping)

In [9]:
parents = { 'single':1,
            'widowed':1, 
            'divorced':1,
            np.nan:1, 
            'married':2}

df['ParentMaritalStatus'] = df['ParentMaritalStatus'].map(parents)

In [10]:
sport = {'regularly':1,
         'sometimes':2,
         'never':3,
         np.nan:3}

df['PracticeSport'] = df['PracticeSport'].map(sport)
df['PracticeSport'] = df['PracticeSport'].astype(int)

In [11]:
df['NrSiblings'].fillna(0.0, inplace=True)
df['NrSiblings'] = df['NrSiblings'].astype(int)

In [12]:
trans = {'private':2,
         'school_bus':1,
         np.nan:1}

df['TransportMeans'] = df['TransportMeans'].map(trans)

In [13]:
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,0,5,5,1,1,2,1,1,3,1,1,71,71,74
1,1,0,2,3,1,1,2,2,1,0,1,2,69,90,88
2,2,0,1,6,1,1,1,2,1,4,1,1,87,93,91
3,3,1,0,4,0,1,2,3,0,1,1,2,45,56,42
4,4,1,2,3,1,1,2,2,1,0,1,2,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,0,3,2,1,1,1,2,0,2,1,2,59,61,65
30637,890,1,4,2,1,1,1,1,0,1,2,2,58,53,51
30638,911,0,5,2,0,2,2,2,0,1,2,2,61,70,67
30639,934,0,3,4,1,2,2,1,0,3,1,2,82,90,93
30640,960,1,1,3,1,1,2,3,0,1,1,2,64,60,58

In [14]:
df2 = df.drop(columns=['Unnamed: 0', 'ReadingScore', 'WritingScore'])
df2.head(20)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore
0,0,5,5,1,1,2,1,1,3,1,1,71
1,0,2,3,1,1,2,2,1,0,1,2,69
2,0,1,6,1,1,1,2,1,4,1,1,87
3,1,0,4,0,1,2,3,0,1,1,2,45
4,1,2,3,1,1,2,2,1,0,1,2,76
5,0,1,4,1,1,2,1,1,1,1,2,73
6,0,1,3,1,2,1,3,0,1,2,2,85
7,1,1,3,0,1,2,2,1,1,2,3,41
8,1,3,2,0,2,1,2,0,3,2,3,65
9,0,1,2,0,1,2,1,1,0,2,1,37
10,1,2,4,1,1,1,2,1,1,2,2,58
11,1,3,4,1,1,1,2,1,1,1,2,40
12,0,1,2,1,1,2,1,0,1,2,2,66
13,1,0,3,1,2,1,2,1,1,2,3,80
14,0,0,6,1,1,1,2,1,2,2,1,48
15,0,2,1,1,1,2,2,1,0,2,2,69
16,1,2,2,1,1,2,2,1,0,1,2,88
17,0,1,1,0,1,1,2,1,1,1,2,18
18,1,2,6,0,2,1,2,0,1,2,2,46
19,0,2,4,0,1,2,3,1,3,2,1,50

In [15]:
df2['MathScore'] = df2['MathScore'].apply(lambda x: 1 if x >= 70 else 0)
df2.head(20)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore
0,0,5,5,1,1,2,1,1,3,1,1,1
1,0,2,3,1,1,2,2,1,0,1,2,0
2,0,1,6,1,1,1,2,1,4,1,1,1
3,1,0,4,0,1,2,3,0,1,1,2,0
4,1,2,3,1,1,2,2,1,0,1,2,1
5,0,1,4,1,1,2,1,1,1,1,2,1
6,0,1,3,1,2,1,3,0,1,2,2,1
7,1,1,3,0,1,2,2,1,1,2,3,0
8,1,3,2,0,2,1,2,0,3,2,3,0
9,0,1,2,0,1,2,1,1,0,2,1,0
10,1,2,4,1,1,1,2,1,1,2,2,0
11,1,3,4,1,1,1,2,1,1,1,2,0
12,0,1,2,1,1,2,1,0,1,2,2,0
13,1,0,3,1,2,1,2,1,1,2,3,1
14,0,0,6,1,1,1,2,1,2,2,1,0
15,0,2,1,1,1,2,2,1,0,2,2,0
16,1,2,2,1,1,2,2,1,0,1,2,1
17,0,1,1,0,1,1,2,1,1,1,2,0
18,1,2,6,0,2,1,2,0,1,2,2,0
19,0,2,4,0,1,2,3,1,3,2,1,0

In [16]:
df2['MathScore'].value_counts()

0    16758
1    12979
Name: MathScore, dtype: int64

In [17]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

In [18]:
X = df2.drop('MathScore', axis=1)
y = df2['MathScore']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [21]:
#models for classification

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

In [30]:
#metrics for evaluation

from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [23]:
# Instantiate the logistic regression model
logreg = LogisticRegression()

# Fit the model to the training data
logreg.fit(X_train, y_train)

# Make predictions on the test data
y_pred = logreg.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6812373907195696

In [24]:
# Instantiate the decision tree classifier with max depth 2
tree = DecisionTreeClassifier(max_depth=2)

# Fit the model to the training data
tree.fit(X_train, y_train)

# Make predictions on the test data
y_pred = tree.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.632817753866846

In [25]:
# Instantiate the decision tree classifier with max depth 2
tree = DecisionTreeClassifier(max_depth=3)

# Fit the model to the training data
tree.fit(X_train, y_train)

# Make predictions on the test data
y_pred = tree.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6504707464694015

In [26]:
# Instantiate the decision tree classifier with max depth 2
tree = DecisionTreeClassifier(max_depth=4)

# Fit the model to the training data
tree.fit(X_train, y_train)

# Make predictions on the test data
y_pred = tree.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6477807666442502

In [27]:
rf = RandomForestClassifier()

# Fit the model to the training data
rf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6361802286482852

In [28]:
svm = SVC()

# Fit the model to the training data
svm.fit(X_train, y_train)

# Make predictions on the test data
y_pred = svm.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6778749159381304

In [29]:
# Instantiate the Gradient Boosting classifier
gb = XGBClassifier()

# Fit the model to the training data
gb.fit(X_train, y_train)

# Make predictions on the test data
y_pred = gb.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6593813046402152

In [31]:
y_pred_proba_logreg = logreg.predict_proba(X_test)[:, 1]
y_pred_proba_tree = tree.predict_proba(X_test)[:, 1]
y_pred_proba_rf = rf.predict_proba(X_test)[:, 1]
y_pred_proba_svm = svm.decision_function(X_test)
y_pred_proba_gb = gb.predict_proba(X_test)[:, 1]

In [32]:
auc_logreg = roc_auc_score(y_test, y_pred_proba_logreg)
auc_tree = roc_auc_score(y_test, y_pred_proba_tree)
auc_rf = roc_auc_score(y_test, y_pred_proba_rf)
auc_svm = roc_auc_score(y_test, y_pred_proba_svm)
auc_gb = roc_auc_score(y_test, y_pred_proba_gb)

In [33]:
print("AUC Logistic Regression:", auc_logreg)
print("AUC Decision Tree:", auc_tree)
print("AUC Random Forest:", auc_rf)
print("AUC SVM:", auc_svm)
print("AUC Gradient Boosting:", auc_gb)

AUC Logistic Regression: 0.7445966916253044
AUC Decision Tree: 0.7162762918900842
AUC Random Forest: 0.6781659638699098
AUC SVM: 0.7365877862245728
AUC Gradient Boosting: 0.7264845770278225

In [34]:
from sklearn.ensemble import VotingClassifier

In [37]:
# Create the Voting Classifier
voting_clf = VotingClassifier(
    estimators=[('logreg', logreg), ('tree', tree), ('rf', rf), ('gb', gb)],
    voting='soft'  # Voting strategy: majority voting
)

# Fit the Voting Classifier to the training data
voting_clf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = voting_clf.predict(X_test)

# Evaluate the accuracy of the Voting Classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6735036987222596

In [38]:
from sklearn.metrics import roc_auc_score

# Get the predicted probabilities for the positive class from the Voting Classifier
y_pred_proba = voting_clf.predict_proba(X_test)[:, 1]

# Calculate the AUC score
auc = roc_auc_score(y_test, y_pred_proba)

print("AUC:", auc)

AUC: 0.7363256403619881

In [39]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Standardize the data
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

# Initialize PCA with the desired number of components
n_components = 5  # Specify the desired number of components
pca = PCA(n_components=n_components)

# Fit PCA on the standardized data
pca.fit(X_std)

# Transform the data to the new space defined by the principal components
X_pca = pca.transform(X_std)

# Analyze the explained variance ratio
explained_variance_ratio = pca.explained_variance_ratio_
total_variance_explained = sum(explained_variance_ratio)
print("Explained variance ratio:", explained_variance_ratio)
print("Total variance explained:", total_variance_explained)

Explained variance ratio: [0.10101962 0.09346752 0.09275337 0.09176067 0.09159271]
Total variance explained: 0.47059389347164104

In [40]:
X_trainp, X_testp, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

# Fit logistic regression on the transformed data
logreg = LogisticRegression()
logreg.fit(X_trainp, y_train)

# Make predictions on the test data
y_pred = logreg.predict(X_testp)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5870880968392737

In [41]:
# Get the predicted probabilities for the positive class from the logistic regression model
y_pred_proba = logreg.predict_proba(X_testp)[:, 1]

# Calculate the AUC score
auc = roc_auc_score(y_test, y_pred_proba)

print("AUC:", auc)

AUC: 0.6081210818412741

In [42]:
from sklearn.pipeline import Pipeline

In [74]:
# Define the pipeline
pipeline = Pipeline([
    ('scaler', StandardScaler()),  # Preprocessing step: StandardScaler
    ('pca', PCA(n_components=11)),  # Preprocessing step: PCA
    ('model', LogisticRegression())  # Best model: LogisticRegression
])

# Fit the pipeline to the training data
pipeline.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipeline.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6812373907195696

In [75]:
# Get the predicted probabilities for the positive class from the pipeline
y_pred_proba = pipeline.predict_proba(X_test)[:, 1]

# Calculate the AUC score
auc = roc_auc_score(y_test, y_pred_proba)

print("AUC:", auc)

AUC: 0.7445998983025225

In [73]:
from sklearn.metrics import precision_score, recall_score

In [76]:
precision = precision_score(y_test, y_pred)
print("Precision:", precision)

Precision: 0.6576040781648258

In [77]:
recall = recall_score(y_test, y_pred)
print("Recall:", recall)

Recall: 0.5868081880212282

In [61]:
from sklearn.feature_selection import SelectKBest, f_classif

In [62]:
# Create an instance of SelectKBest
selector = SelectKBest(score_func=f_classif, k=5)

# Fit and transform the selector on the training data
X_train_selected = selector.fit_transform(X_train, y_train)

# Transform the testing data using the selector
X_test_selected = selector.transform(X_test)

# Get the indices of the selected features
selected_feature_indices = selector.get_support(indices=True)

# Optionally, get the names of the selected features
selected_feature_names = X_train.columns[selected_feature_indices]

# Train a logistic regression model on the selected features
logreg = LogisticRegression()
logreg.fit(X_train_selected, y_train)

# Make predictions on the test data using the selected features
y_pred = logreg.predict(X_test_selected)

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6731674512441157

In [63]:
# Predict probabilities for the positive class (class 1)
y_pred_proba = logreg.predict_proba(X_test_selected)[:, 1]

# Calculate the AUC score
auc = roc_auc_score(y_test, y_pred_proba)

print("AUC:", auc)

AUC: 0.7375803673477801

In [65]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [66]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [67]:
mlp = MLPClassifier(hidden_layer_sizes=(100, 50), activation='relu', solver='adam', random_state=42)

In [68]:
mlp.fit(X_train_scaled, y_train)

c:\Users\Blanca\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPClassifier(hidden_layer_sizes=(100, 50), random_state=42)

In [69]:
y_pred = mlp.predict(X_test_scaled)

In [70]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6425689307330195

In [71]:
y_pred_proba = mlp.predict_proba(X_test_scaled)[:, 1]

In [72]:
auc = roc_auc_score(y_test, y_pred_proba)
print("AUC:", auc)

AUC: 0.6950313109125515